@import "../core/variables.scss";

.main {
  background-color: white;
}

.icon-add {
  width: 40px;
  margin: 0 auto;
}
.box-image {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.remove {
  align-self: end;
  margin-top: 5px;

  font-family: $body;
  font-size: 8px;
  font-weight: 600;
  color: white;
  background-color: $color-tittle;
  border: 2px solid $color-tittle;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.container-box {
  border: 3px dashed $pastel-pink;
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px;

  margin: 20px;
  cursor: pointer;

  &__tittle {
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: $body;
    color: $color-tittle;
    font-size: 30px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.box {
  border: 3px solid $color-tittle;
}

.section {
  height: 100vh;
  animation: fadeIn 0.5s ease;
}
