@import "../core/variables.scss";

.popup-add-box {
  display: flex;
  justify-content: center;
}

.container-add-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 350px;
  min-width: 350px;
  min-height: 220px;
  border-radius: 8px;

  position: absolute;
  background-color: white;
  position: fixed;

  top: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.301);
  animation: fadeIn 0.5s ease;
}

.input-button {
  margin-top: 15px;
}

.name-box {
  font-family: $body;
  color: $color-tittle;
  font-weight: 600;
  font-size: 19px;
}
.input-add-box {
  margin-right: 20px;
  padding: 3px;
  border: 2px solid $pastel-pink;
  color: $color-tittle;
  font-family: $body;
  font-weight: 600;
  @media screen and (min-width: 600px) {
    margin-top: 15px;
    margin-right: 30px;
    padding-right: 20px;
    font-size: medium;
  }
}
.input-add-box:focus {
  border-color: $color-tittle;
  outline: none;
}
.button-add-box {
  background-color: $color-tittle;
  padding: 3px 6px;
  border: none;
  font-family: $body;
  font-weight: 600;
  color: white;
  @media screen and (min-width: 600px) {
    font-size: medium;
  }
}

.close {
  align-self: end;
  margin-right: 10px;
  margin-bottom: 40px;
  margin-top: 10px;
  font-family: $body;
  font-size: 8px;
  font-weight: 600;
  color: white;
  background-color: $color-tittle;
  border: 2px solid $color-tittle;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}

.container-list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 80px;
    margin-right: 80px;
  }
}

.message {
  margin-top: 20px;
  font-weight: bolder;
  @media screen and (min-width: 600px) {
    margin-top: 40px;
  }
}

@media screen and (min-width: 600px) {
  .add-box {
    margin-bottom: 50px;
  }
}
